@import "tailwindcss";
@plugin "daisyui";

.body {
    background-color: #ffface;
}

@media (max-width: 1024px) {
    .boxes-container {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }

    .box-image {
        width: 180px;
        height: 180px;
    }
}

@keyframes rotateDonut {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate-animation {
    animation: rotateDonut 5s linear infinite;
}

.popup-show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.popup-hide {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}